<h1 class="ui header">History</h1>

<table class="ui basic table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Duration (minutes)</th>
      <th>Subject</th>
      <th>Lesson</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <%= if Enum.count(@history) > 0 do %>
      <%= for h <- @history do %>
        <tr>
          <td><%= h.inserted_at |> Timezone.convert(Timezone.local) |> Timex.format!("%b. %e, %Y", :strftime) %></td>
          <td><%= Timex.diff(h.inserted_at, h.quiz_started_at, :minutes) %></td>
          <td><%= h.lesson.subject.title %></td>
          <td><%= h.lesson.title %></td>
          <td><%= "#{h.score}/#{h.total_items}" %></td>
        </tr>
      <% end %>
    <% else %>
    <tr>
      <td colspan="3">History empty.</td>
    </tr>
    <% end %>
  </tbody>
</table>
