<div class="ui breadcrumb">
  <%= link raw("<i class=\"large home icon\"></i>"), to: student_path(@conn, :show, @current_user.username), class: "section" %>
  <i class="right chevron icon divider"></i>
  <div class="active section">Quiz: <%= @lesson.title %></div>
</div>

<h2 class="ui header"><%= @lesson.title %></h2>
<h3 class="ui header"><%= "Score: #{@score}/#{@total_items}" %></h3>

<div id="quiz-list" class="ui very relaxed ordered list">
  <%= for result <- @results do %>
    <div class="item">
      <div class="content">

        <%= if result.score == 1 do %>
          <i class="big green checkmark icon"></i>
        <% else %>
          <i class="big red remove icon"></i>
        <% end %>

        <div class="definition">
          <%= raw result.definition %>
        </div>

        <div class="ui <%= if result.score == 1, do: "positive", else: "negative" %> message">
          <%= result.submitted_term %>
        </div>

        <%= if result.score == 1 do %>
          <div class="ui pointing green basic label">
            Correct
          </div>
        <% else %>
          <div class="ui pointing red basic label">
            Incorrect. The answer is: <b><%= result.stored_term %></b>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
<div class="ui right aligned basic segment">
  <%= link "Done", to: student_path(@conn, :show, @current_user.username), class: "mini ui basic primary button" %>
</div>
