<div class="ui breadcrumb">
  <%= link raw("<i class=\"large home icon\"></i>"), to: student_path(@conn, :show, @current_user.username), class: "section" %>
  <i class="right chevron icon divider"></i>
  <div class="active section">Quiz: <%= @lesson.title %></div>
</div>

<h2 class="ui header"><%= @lesson.title %></h2>

<%= form_for @conn, student_path(@conn, :submit_quiz, @current_user.username, @lesson.id), [as: :answers, id: "quiz-form", class: "ui large form"], fn f -> %>
  <%= hidden_input f, :quiz_started_at, [value: @quiz_started_at] %>
  <%= hidden_input f, :ids, [value: @ids] %>
  <div id="quiz-list" class="ui very relaxed ordered list">
    <%= for term <- @terms do %>
      <div class="item">
        <div class="field">
          <div class="definition">
            <%= raw term.definition %>
          </div>
          <%= text_input f, :answer, [name: "answer[#{term.id}]", id: "quiz_answer_#{term.id}"] %>
          <%= error_tag f, String.to_atom("quiz_answer_#{term.id}") %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= submit "Submit", class: "ui green button" %>
  </div>
<% end %>
