<div class="ui breadcrumb">
  <%= link raw("<i class=\"large home icon\"></i>"), to: student_path(@conn, :show, @current_user.username), class: "section" %>
  <i class="right chevron icon divider"></i>
  <div class="active section">Review: <%= @lesson.title %></div>
</div>

<h2 class="ui header"><%= @lesson.title %></h2>

<div class="ui yellow progress" data-value="1" data-total="<%= @term_count %>" id="review_progress">
  <div class="bar"></div>
  <div class="label" style="padding-top:20px;">Items</div>
</div>

<div class="ui clearing basic segment" style="margin-top:-35px;padding:1em 0;">
  <button class="ui left floated icon button prev disabled">
    <i class="left arrow icon"></i>
  </button>
  <button class="ui right floated icon button next">
    <i class="right arrow icon" style="margin-left:0;"></i>
  </button>
</div>

<div id="flash-cards" style="padding:0 0 2em;">
  <div class="ui items slick-test">
    <%= for term <- @lesson.terms do %>
      <div class="item">
        <button class="ui green icon button">
          <i class="flipped retweet icon"></i>
        </button>
        <div class="ui shape">
          <div class="sides">
            <div class="side active">
              <div class="ui fluid card">
                <div class="content">
                  <div class="description center aligned">
                    <%= raw term.definition %>
                  </div>
                </div>
              </div>
            </div> <!-- /side -->
            <div class="side">
              <div class="ui fluid card">
                <div class="content">
                  <div style="font-weight:bold" class="description center aligned">
                    <%= raw term.term %>
                  </div>
                </div>
              </div>
            </div> <!-- /side -->
          </div> <!-- /sides -->
        </div> <!-- /shape -->
      </div> <!-- /item -->
    <% end %>
  </div> <!-- /list -->
</div>
