<h1 class="ui header">Today's Quiz</h1>

<table class="ui basic table">
  <thead>
    <tr>
      <th>Lesson</th>
      <th>Subject</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= if Enum.count(@assigned_lessons) > 0 do %>
      <%= for assigned_lesson <- @assigned_lessons do %>
        <tr>
          <td><%= assigned_lesson.lesson.title %></td>
          <td><%= assigned_lesson.lesson.subject.title %></td>
          <td class="right aligned">
            <%= link "Review", to: student_path(@conn, :review, @current_user.username, assigned_lesson.lesson_id), class: "mini ui basic primary button" %>
            <%= link "Take Quiz", to: student_path(@conn, :quiz, @current_user.username, assigned_lesson.lesson_id), class: "mini ui basic primary button #{@take_quiz_button_class}" %>
          </td>
        </tr>
      <% end %>
    <% else %>
    <tr>
      <td colspan="3">No lessons assigned.</td>
    </tr>
    <% end %>
  </tbody>
</table>
