<h2 class="ui header">Edit user</h2>

<%= render "form.html", changeset: @changeset,
                        current_user: @current_user,
                        show_password_field: @show_password_field,
                        action: user_path(@conn, :update, @user) %>

<p><%= link "Back", to: user_path(@conn, :show, @user) %></p>
