<%= form_for @changeset, @action, [class: "ui large form"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="field">
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </div>

  <div class="field">
    <%= label f, :username %>
    <%= text_input f, :username %>
    <%= error_tag f, :username %>
  </div>

  <%= if @current_user.role_level == 1 do %>
    <div class="field">
      <%= label f, :role_level %>
      <%= select f, :role_level, ["Administrator": 1, "Teacher": 2, "Student": 3] %>
      <%= error_tag f, :role_level %>
    </div>
  <% end %>

  <%= if @show_password_field do %>
    <div class="field">
      <%= label f, :password %>
      <%= text_input f, :password %>
      <%= error_tag f, :password %>
    </div>
  <% end %>

  <div class="field">
    <%= label f, :details %>
    <%= textarea f, :details %>
    <%= error_tag f, :details %>
  </div>

  <div class="field">
    <%= submit "Submit", class: "ui primary button" %>
  </div>
<% end %>
