<%= if @current_user.role_level == 1 do %>
  <h2 class="ui header">Users</h2>
<% else %>
  <h2 class="ui header">Students</h2>
<% end %>

<%= if @current_user.role_level == 1 do %>
  <%= link "New User", to: user_path(@conn, :new), class: "mini primary ui basic button" %>
<% else %>
  <%= link "New Student", to: user_path(@conn, :new), class: "mini primary ui basic button" %>
<% end %>

<table class="ui basic table">
  <thead>
    <tr>
      <th>Name</th>
      <%= if @current_user.role_level == 1 do %>
        <th>Role Level</th>
      <% end %>
      <th>Details</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= link user.name, to: user_path(@conn, :show, user) %></td>
      <%= if @current_user.role_level == 1 do %>
        <td><%= user.role_level %></td>
      <% end %>
      <td><%= user.details %></td>

      <td class="right aligned">
        <%= link "Delete", to: user_path(@conn, :delete, user), method: :delete, form: [style: "display:inline-block"], data: [confirm: "Are you sure?"], class: "mini negative ui fluid basic button" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
