<h2 class="ui header">New user</h2>

<%= render "form.html", changeset: @changeset,
                        current_user: @current_user,
                        show_password_field: @show_password_field,
                        action: user_path(@conn, :create) %>

<p><%= link "Back", to: user_path(@conn, :index) %></p>
