<div class="ui breadcrumb">
  <%= link "Students", to: user_path(@conn, :index), class: "section" %>
  <div class="divider"> / </div>
  <div class="active section"><%= @user.username %></div>
</div>

<h2 class="ui header"><%= @user.name %></h2>

<div class="ui list">

  <div class="item">
    <strong>Username:</strong>
    <%= @user.username %>
  </div>

  <%= if @current_user.role_level == 1 do %>
    <div class="item">
      <strong>Role Level:</strong>
      <%= @user.role_level %>
    </div>
  <% end %>

  <div class="item">
    <strong>Details:</strong>
    <%= @user.details %>
  </div>

</div>

<p>
<%= link "Edit", to: user_path(@conn, :edit, @user), class: "mini primary ui basic button" %>
<%= link "Change Password", to: user_path(@conn, :edit, @user), class: "mini primary ui basic button" %>
</p>

<h3 class="ui horizontal divider header">
  <i class="book icon"></i>
  Assigned Lessons
</h3>
<table class="ui basic table">
  <tbody>
    <%= if Enum.count(@user.lessons) > 0 do %>
      <%= for lesson <- @user.lessons do %>
        <tr>
          <td><%= lesson.title %></td>
          <td class="right aligned">
            <%= link "Remove", to: student_path(@conn, :unassign_lesson, @user.id, lesson.id), method: :delete, data: [confirm: "Are you sure?"], class: "mini ui red basic button" %>
          </td>
        </tr>
      <% end %>
    <% else %>
    <tr>
      <td colspan="2">No lessons assigned.</td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="ui hidden divider"></div>

<div class="ui segment">
  <h4 class="ui header">Available Lessons</h4>

  <%= form_for @student_lesson_changeset, student_path(@conn, :assign_lesson), [class: "ui large form"], fn f -> %>
    <div class="field">
      <%= hidden_input f, :user_id, value: @user.id %>
    </div>

    <% # Todo: Allow filtering of lessons by subject. %>
    <div class="field">
      <%= select f, :lesson_id, @lessons %>
    </div>

    <div class="field">
      <%= submit "Assign Lesson", class: "mini primary ui basic button" %>
    </div>
  <% end %>
</div>
