<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ioQuiz</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <div class="ui menu" style="margin-bottom:4rem;">
      <div class="brand header item">
        ioQuiz
      </div>

      <%= if @current_user.role_level < 3 do %>
        <a class="item">Dashboard</a>
      <% end %>

      <%= if @current_user.role_level == 1 do %>
        <%= link "Users", to: user_path(@conn, :index), class: "item" %>
      <% end %>
      <%= if @current_user.role_level == 2 do %>
        <%= link "Students", to: user_path(@conn, :index), class: "item" %>
      <% end %>

      <%= if @current_user.role_level == 3 do %>
        <%= link raw("<i class=\"large home icon\"></i>"), to: student_path(@conn, :show, @current_user.username), class: "item" %>
        <%= link "History", to: student_path(@conn, :history, @current_user.username), class: "item" %>
      <% end %>

      <%= if @current_user.role_level < 3 do %>
        <%= link "Subjects", to: subject_path(@conn, :index), class: "item" %>
      <% end %>

      <div class="right menu">
        <div class="logged-in-name header item">
          <%= @current_user.name %>
        </div>

        <%= link "Log Out", to: session_path(@conn, :delete, @current_user), method: "delete", form: [class: "item"], class: "ui button" %>
      </div>
    </div>

    <div class="ui text container">
      <%= if get_flash(@conn, :info) do %>
        <div class="ui success message">
          <p><%= get_flash(@conn, :info) %></p>
        </div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <div class="ui error message">
          <p><%= get_flash(@conn, :error) %></p>
        </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </div>

    <div class="footer" style="padding:2rem 0;"></div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
