<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ioQuiz - A more effective learning strategy.</title>

    <link href="https://fonts.googleapis.com/css?family=Bitter|Lora|Source+Sans+Pro:400.400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <!-- Top Menu -->
    <div class="ui secondary menu" style="margin-bottom:3rem;">
      <div class="brand header item" style="font-size:1.4em;">
        ioQuiz
      </div>
      <div class="right menu">
        <%= if @current_user do %>
          <%= link "Log Out", to: session_path(@conn, :delete, @current_user), method: "delete", form: [class: "item"], class: "ui green button" %>
        <% else %>
          <%= link "Log in", to: session_path(@conn, :new), style: "padding: 1em 2em 0 0;" %></a>
        <% end %>
      </div>
    </div>

    <!-- Masthead -->
    <div class="ui vertical masthead center aligned segment" style="border-bottom: none;">
      <div class="ui text container">
        <h1 class="ui header">You study hard but you still get poor results. Why?</h1>
        <h2 class="ui header">Because you're doing it wrong.</h2>
        <p><img src="<%= static_path(@conn, "/images/study-hard.jpg") %>"></p>
      </div>
    </div>

    <!-- Main -->
    <%= render @view_module, @view_template, assigns %>

    <!-- Footer -->
    <div class="ui vertical center aligned footer segment">
      <div class="ui text container">
        <p>Copyright &copy; 2016 ioQuiz — All Rights Reserved</p>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
