<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ioQuiz</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <style>
    .sessions > .container,
    #login-form {
      height: 100%;
    }
    #login-form .column {
      max-width: 450px;
    }
    #login-form .header {
      margin-top: -240px;
    }
    </style>
  </head>

  <body class="sessions">

    <div class="ui text container">
      <div style="min-height:70px;margin-top:40px;">
        <%= if get_flash(@conn, :info) do %>
          <div class="ui success message">
            <p><%= get_flash(@conn, :info) %></p>
          </div>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <div class="ui error message">
            <p><%= get_flash(@conn, :error) %></p>
          </div>
        <% end %>
      </div>

      <%= render @view_module, @view_template, assigns %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
