<h2 class="ui header">Edit Subject</h2>

<%= render "form.html", changeset: @changeset,
                        action: subject_path(@conn, :update, @subject) %>

<p><%= link "Back", to: subject_path(@conn, :index) %></p>
