<h2 class="ui header">Subjects</h2>

<p><%= link "New subject", to: subject_path(@conn, :new), class: "mini ui primary basic button" %></p>

<table class="ui basic table">
  <tbody>
<%= for subject <- @subjects do %>
    <tr>
      <td><%= link subject.title, to: subject_lesson_path(@conn, :index, subject) %></td>

      <td class="right aligned">
        <%= link "Edit", to: subject_path(@conn, :edit, subject), class: "mini ui primary basic button" %>
        <%= link "Delete", to: subject_path(@conn, :delete, subject), method: :delete, form: [style: "display:inline-block"], data: [confirm: "Are you sure?"], class: "mini negative ui basic button" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
