<h2 class="ui header">New Subject</h2>

<%= render "form.html", changeset: @changeset,
                        action: subject_path(@conn, :create) %>

<p><%= link "Back", to: subject_path(@conn, :index) %></p>
