<h2 class="ui header">Edit Lesson</h2>

<%= render "form.html", changeset: @changeset,
                        action: subject_lesson_path(@conn, :update, @subject, @lesson) %>

<p><%= link "Back", to: subject_lesson_path(@conn, :index, @subject) %></p>
