<div class="ui breadcrumb">
  <%= link "Subjects", to: subject_path(@conn, :index), class: "section" %>
  <div class="divider"> / </div>
  <div class="active section">Lessons</div>
</div>

<h2 class="ui header"><%= @subject.title %></h2>

<p><%= link "New lesson", to: subject_lesson_path(@conn, :new, @subject), class: "mini ui primary basic button" %></p>

<table class="ui basic table">
  <tbody>
<%= for lesson <- @lessons do %>
    <tr>
      <td> <%= link lesson.title, to: subject_lesson_term_path(@conn, :index, @subject, lesson) %></td>

      <td class="right aligned">
        <%= link "Edit", to: subject_lesson_path(@conn, :edit, @subject, lesson), class: "mini ui primary basic button" %>
        <%= link "Delete", to: subject_lesson_path(@conn, :delete, @subject, lesson), method: :delete, form: [style: "display:inline-block"], data: [confirm: "Are you sure?"], class: "mini negative ui basic button" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
