<h2 class="ui header">New lesson</h2>

<%= render "form.html", changeset: @changeset,
                        action: subject_lesson_path(@conn, :create, @subject) %>

<p><%= link "Back", to: subject_lesson_path(@conn, :index, @subject) %></p>
