<h2 class="ui header">Edit Term</h2>

<%= render "form.html", changeset: @changeset,
                        action: subject_lesson_term_path(@conn, :update, @subject, @lesson, @term) %>

<p><%= link "Back", to: subject_lesson_term_path(@conn, :index, @subject, @lesson) %></p>
