<%= form_for @changeset, @action, [class: "ui large form"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="ui negative message">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="field">
    <%= label f, :term %>
    <%= textarea f, :term %>
    <%= error_tag f, :term %>
  </div>

  <div class="field">
    <%= label f, :definition %>
    <%= textarea f, :definition %>
    <%= error_tag f, :definition %>
  </div>

  <%= submit "Submit", class: "ui primary button" %>
<% end %>
