<div class="ui breadcrumb">
  <%= link "Subjects", to: subject_path(@conn, :index), class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link "Lessons", to: subject_lesson_path(@conn, :index, @subject), class: "section" %>
  <i class="right chevron icon divider"></i>
  <div class="active section">Terms</div>
</div>

<h2 class="ui header"><%= @lesson.title %></h2>

<p><b><%= @term_count %> Terms</b> | <%= link "Add Term", to: subject_lesson_term_path(@conn, :new, @subject, @lesson), class: "mini ui primary basic button" %></p>

<table id="terms-table" class="ui basic table">
  <thead>
    <tr>
      <th>Term</th>
      <th>Definition</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for term <- @terms do %>
    <tr>
      <td class="top aligned"><%= raw term.term %></td>
      <td class="definition"><%= raw term.definition %></td>

      <td class="top aligned right aligned">
        <%= link "Edit", to: subject_lesson_term_path(@conn, :edit, @subject, @lesson, term), class: "mini ui primary basic button" %>
        <%= link "Delete", to: subject_lesson_term_path(@conn, :delete, @subject, @lesson, term), method: :delete, form: [style: "display:inline-block"], data: [confirm: "Are you sure?"], class: "mini negative ui basic button" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
