<div id="login-form" class="ui middle aligned center aligned grid">
  <div class="column">

    <h1 class="ui header">
      Log in to your account 
    </h1>

    <%= form_for @conn, session_path(@conn, :create), [as: :session, class: "ui large form"], fn f -> %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= text_input f, :username, placeholder: "Username" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= password_input f, :password, placeholder: "Password" %>
          </div>
        </div>
        <%= submit "Log in", class: "ui fluid large primary submit button" %>
      </div>
    <% end %>

    <p style="padding-top:1em;"><a href="/">Back to home page</a>

  </div>
</div>
