/* This file is for your main application css. */
img {
  max-width: 100%;
}

.ui.text.container {
  font-family: 'Source Sans Pro', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.brand.header { 
  font-family: 'Bitter', serif;
  color: #BF0019 !important;
}

.ui.menu .item.logged-in-name::before {
  background: none;
}

.masthead.segment {
  padding: 1em 0em;
}
.masthead h1.ui.header {
  font-size: 4em;
  line-height: 1.2;
  margin: 0em;
}
.masthead h2.ui.header {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1em;
}

.ui.vertical.stripe {
  padding: 5em 0em 7em;
}
.ui.vertical.stripe h2 {
  font-size: 3em;
  font-weight: 400;
}
.ui.vertical.stripe .button + h2,
.ui.vertical.stripe p + h2 {
  margin-top: 1em;
}
.ui.vertical.stripe p, .ui.vertical.stripe ul {
  font-size: 1.33em;
}
.ui.vertical.stripe .wistia_embed {
  margin: 1em 0;
}

.footer.segment {
  padding: 5em 0em;
}

.ui.form {
    margin-bottom: 1em;
}

#terms-table .definition,
#terms-table .definition img {
  max-width: 400px;
}

#flash-cards .ui.shape,
#flash-cards .ui.shape .sides,
#flash-cards .ui.shape .side {
    width: 100%;
    max-width: 100%;
}
#flash-cards .ui.shape .side {
    padding: 1px;
}
#flash-cards .ui.shape .side .description img {
    max-width: 100%;
}

#quiz-form input[type="text"] {
    margin-top: 1em;
}
#quiz-form input[type="submit"] {
    margin-left: 1.25rem;
}

#quiz-list > .item::before {
    font-size: 1.5rem;
    line-height: 1em;
    margin-left: -60px;
    min-width: 50px;
}
#quiz-list .content {
    position: relative;
}
#quiz-list .content .big.icon {
    position: absolute;
    top: -5px;
    left: -65px;
}
#quiz-list .content .ui.message {
    margin-bottom: 0;
    padding: 8px 1em 12px;
}
#quiz-list .content .ui.negative.message {
    min-height: 42.85px;
}
#quiz-list .content .ui.label {
    font-weight: 400;
}


@media only screen and (max-width: 700px) {
  .masthead h1.ui.header {
    font-size: 3em;
  }
  .masthead h2.ui.header {
    font-size: 2em;
  }
}
