<h2 class="ui header">Edit Item</h2>
<h2>No Header Class</h2>

<%= render "form.html", changeset: @changeset,
                        action: subject_lesson_question_item_path(@conn, :update, @subject, @lesson, @question, @item) %>

<p><%= link "Back", to: subject_lesson_question_item_path(@conn, :index, @subject, @lesson, @question) %></p>
