<div class="ui breadcrumb">
  <%= link "Subjects", to: subject_path(@conn, :index), class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link "Lessons", to: subject_lesson_path(@conn, :index, @subject), class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link "Questions", to: subject_lesson_question_path(@conn, :index, @subject, @lesson), class: "section" %>
  <i class="right chevron icon divider"></i>
  <div class="active section">Items</div>
</div>

<h2 class="ui header"><%= @subject.title %></h2>
<h3 class="ui header"><%= @lesson.title %></h3>

<div><%= raw @question.question %></div>

<p><%= link "Add Item", to: subject_lesson_question_item_path(@conn, :new, @subject, @lesson, @question), class: "mini ui primary basic button" %></p>

<table class="ui basic table">
  <thead>
    <tr>
      <th>Content</th>
      <th>Type</th>
      <th>Status</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for item <- @items do %>
    <tr>
      <td><%= raw item.content %></td>
      <td><%= item.type %></td>
      <td><%= item.status %></td>

      <td class="text-right">
        <%= link "Edit", to: subject_lesson_question_item_path(@conn, :edit, @subject, @lesson, @question, item), class: "mini ui primary basic button" %>
        <%= link "Delete", to: subject_lesson_question_item_path(@conn, :delete, @subject, @lesson, @question, item), method: :delete, data: [confirm: "Are you sure?"], class: "mini negative ui basic button" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "Add Item", to: subject_lesson_question_item_path(@conn, :new, @subject, @lesson, @question), class: "mini ui primary basic button" %>
