<h2 class="ui header">New Item</h2>

<%= render "form.html", changeset: @changeset,
                        action: subject_lesson_question_item_path(@conn, :create, @subject, @lesson, @question) %>

<p><%= link "Back", to: subject_lesson_question_item_path(@conn, :index, @subject, @lesson, @question) %></p>
