<div class="ui vertical stripe segment">
  <div class="ui text container">
    <p><a href="http://psi.sagepub.com/content/14/1/4.full?ijkey=Z10jaVH/60XQM&keytype=ref&siteid=sppsi" target="_blank">Research shows</a> that the most common ways of studying like rereading and highlighting are ineffective. They do little to help you remember the material you are trying to learn. They create an <a href="https://www.linkedin.com/pulse/do-you-suffer-from-illusions-competence-lady-mj-santos" target="_blank">illusion of competence</a>. They deceive you into thinking that you’ve mastered what you just studied, when in fact, you didn’t. These methods are a waste of your precious study time.</p>

    <h2 class="ui header">Better Ways to Study</h2>
    <p>There are better ways to study that will really boost your chances of passing that exam, improve your grades or master what you’re learning. The most effective learning techniques, based on hundreds of research by cognitive and educational psychologists are:</p>
    <ul class="ui list">
      <li><a href="https://en.wikipedia.org/wiki/Testing_effect" target="_blank"><strong>retrieval practice</strong></a> – the process of recovering knowledge and information from long-term memory, and</li>
      <li><a href="https://en.wikipedia.org/wiki/Spaced_repetition" target="_blank"><strong>spaced repetition</strong></a> – distributing your study sessions over an extended period of time.</li>
    </ul>
    <p>Watch the videos below for more detailed explanations.</p>

    <h3 class="ui header">Retrieval Practice</h3>
    <script src="//fast.wistia.com/embed/medias/rtbw72iyhv.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_rtbw72iyhv popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:394px;width:700px;max-width:100%">&nbsp;</span>
    <p style="font-size:0.8em;">Video by <a rel="nofollow" href="https://open.osmosis.org/">Osmosis</a> / <a rel="nofollow" class="external text" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>

    <h3 class="ui header">Spaced Repetition</h3>
    <script src="//fast.wistia.com/embed/medias/fre1l3i33m.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_fre1l3i33m popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:394px;width:700px;max-width:100%">&nbsp;</span>
    <p style="font-size:0.8em;">Video by <a rel="nofollow" href="https://open.osmosis.org/">Osmosis</a> / <a rel="nofollow" class="external text" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>

    <h2 class="ui header">What is ioQuiz</h2>
    <p>Solving worksheets or quizzing yourself regularly requires discipline and consistency. <strong>ioQuiz</strong> is a simple web-based learning tool that helps you to be disciplined and consistent. It integrates retrieval practice and spaced repetition into your study habits by giving you short quizzes everyday. That’s it.</p>

    <h2 class="ui header">How it Works</h2>
    <p><strong>ioQuiz</strong> partners with expert educators to create quizzes. You log in to your <strong>ioQuiz</strong> account each day where you have to answer a set of questions relevant to what you are trying to learn. This process continues until the end of your subscription or until you cancel. Questions will be selected and sorted according to the topics you haven’t mastered yet. You will also be able to view your history so you can see your progress.</p>

    <div class="ui three steps">
      <div class="step">
        <i class="add user icon"></i>
        <div class="content">
          <div class="title">Teachers</div>
          <div class="description">create quizzes and assign them to students.</div>
        </div>
      </div>
      <div class="step">
        <i class="puzzle icon"></i>
        <div class="content">
          <div class="title">Students</div>
          <div class="description">log in and solve quizzes daily.</div>
        </div>
      </div>
      <div class="step">
        <i class="trophy icon"></i>
        <div class="content">
          <div class="title">Mastery</div>
          <div class="description">is achieved through frequent tests.</div>
        </div>
      </div>
    </div>

    <h2 class="ui header">Ready to Study More Effectively?</h2>
    <p>Email us at <a href="mailto:info@ioquiz.xyz">info@ioquiz.xyz</a> for inquiries or to request for early access.</p>
    <p><strong>ioQuiz</strong> is still in private beta, meaning we are making it available to only a selected and limited number of users at this time.</p>

  </div>
</div>
