<h2 class="ui header">Edit Question</h2>

<%= render "form.html", changeset: @changeset,
                        action: subject_lesson_question_path(@conn, :update, @subject, @lesson, @question) %>

<p><%= link "Back", to: subject_lesson_question_path(@conn, :index, @subject, @lesson) %></p>
