<%= form_for @changeset, @action, [class: "ui large form"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="ui negative message">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="field">
    <%= label f, :question %>
    <%= textarea f, :question %>
    <%= error_tag f, :question %>
  </div>

  <div class="field">
    <%= label f, :type %>
    <%= number_input f, :type %>
    <%= error_tag f, :type %>
  </div>

  <div class="field">
    <%= label f, :status %>
    <%= number_input f, :status %>
    <%= error_tag f, :status %>
  </div>

  <div class="field">
    <%= submit "Submit", class: "ui primary button" %>
  </div>
<% end %>
