<div class="ui breadcrumb">
  <%= link "Subjects", to: subject_path(@conn, :index), class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link "Lessons", to: subject_lesson_path(@conn, :index, @subject), class: "section" %>
  <i class="right chevron icon divider"></i>
  <div class="active section">Questions</div>
</div>

<h2 class="ui header"><%= @subject.title %></h2>
<h3 class="ui header"><%= @lesson.title %></h3>

<p><b><%= @question_count %> Questions</b> | <%= link "Add Question", to: subject_lesson_question_path(@conn, :new, @subject, @lesson), class: "mini ui primary basic button" %></p>

<table id="terms-table" class="ui basic table">
  <thead>
    <tr>
      <th>Question</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for question <- @questions do %>
    <tr>
      <td class="definition"><%= raw question.question %></td>

      <td class="top aligned right aligned">
        <%= link "View", to: subject_lesson_question_item_path(@conn, :index, @subject, @lesson, question), class: "mini ui primary basic button" %>
        <%= link "Edit", to: subject_lesson_question_path(@conn, :edit, @subject, @lesson, question), class: "mini ui primary basic button" %>
        <%= link "Delete", to: subject_lesson_question_path(@conn, :delete, @subject, @lesson, question), method: :delete, form: [style: "display:inline-block"], data: [confirm: "Are you sure?"], class: "mini negative ui basic button" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "Add Question", to: subject_lesson_question_path(@conn, :new, @subject, @lesson), class: "mini ui primary basic button" %>
