<h2 class="ui header">New Question</h2>

<%= render "form.html", changeset: @changeset,
                        action: subject_lesson_question_path(@conn, :create, @subject, @lesson) %>

<p><%= link "Back", to: subject_lesson_question_path(@conn, :index, @subject, @lesson) %></p>
